@import '../../styles/globals.scss';

.loadingWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  gap: 0.75rem;

  height: 75vh;

  color: $gray400;

  svg {
    color: $blue500;
    animation: spin infinite 0.8s;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 400px) {
  .loadingWrapper {
    max-width: 400px;
  }
}
